* {
    -webkit-tap-highlight-color: transparent;

    &::selection {
        background-color: $tertiary-color;
    }

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: $tertiary-color;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border: 2px solid $tertiary-color;
        border-radius: 20px;
    }
}

body {
    height: 100%;
    background-color: $background-color;
    color: $white;
    font-family: $jura-font;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.25px;
}

#wm-app {
    height: 100%;
    display: flex;
    flex-direction: column;
}
