@font-face {
  font-family: 'Jura';
  src: url('@/assets/fonts/Jura-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jura';
  src: url('@/assets/fonts/Jura-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}