/* slide-down */
.slide-down-enter-active,
.slide-down-leave-active {
    transform-origin: center;
    transition: $base-transition;
}

.slide-down-enter-from,
.slide-down-leave-to {
    opacity: 0;
    transform: translateY(-$space);
}
