/* Colors */
$white: #ffffff;
$background-color: #141414;
$primary-color: #333333;
$secondary-color: #282828;
$tertiary-color: #1c1c1c;

/* Fonts */
$jura-font: 'Jura', sans-serif;

/* Breakpoints */
$tablet-breakpoint: 768px;

/* Base properties */
$base-font-size: 16px;
$base-border-radius: 6px;
$base-transition: all 250ms ease-in;

/* Custom properties */
$container-max-width: 1440px;
$container-space: 20px;
