/* Colors */
$white: #ffffff;
$background-color: #141414;
$primary-color: #1c1c1c;
$primary-color--transparent: #181818;
$secondary-color: #282828;
$secondary-color--transparent: #202020;
$tertiary-color: #333333;
$text-color: #c3c3c3;
$inactive-color: rgba($white, 0.5);

/* Fonts */
$jura-font: 'Jura', sans-serif;

/* Breakpoints */
$tablet-breakpoint: 768px;
$mobile-breakpoint: 500px;

/* Base properties */
$base-border-radius: 4px;
$base-transition: all 250ms ease-in;

/* Custom properties */
$space: 10px;
$space--half: calc($space / 2);
$space--sm: 3px;